:root {
  /* Colors */
  --cyan-600: hsl(192, 37%, 48%);
  --cyan-300: hsl(192, 90%, 77%);
  --purple-600: hsl(268, 34%, 53%);
  --purple-300: hsl(268, 100%, 86%);
  --slate-900: hsl(240, 21%, 20%);
  --slate-600: hsl(240, 10%, 57%);
  --slate-300: hsl(240, 18%, 85%);
  --white: hsl(0, 0%, 98%);

  /* Font family */
  --font-family-red-hat: "Red Hat Display", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;

  /* Text Preset 1 */
  --text-preset-1: 900 4rem/1.1 "Red Hat Display";
  --text-preset-1-mobile: 900 2.5rem/1.1 "Red Hat Display";

  /* Text Preset 2 */
  --text-preset-2: 900 2.5rem/1.1 "Red Hat Display";

  /* Text Preset 3 */
  --text-preset-3: 900 1rem/1.1 "Red Hat Display";
  --text-preset-3-letter-spacing: 4px;

  /* Text Preset 4 */
  --text-preset-4: 500 1.125rem/1.1 "Red Hat Display";
  --text-preset-4-mobile: 500 1rem/1.5 "Red Hat Display";

  /* Text Preset 5 */
  --text-preset-5: 900 1rem/1.5 "Red Hat Display";

  /* Spacing */
  --space-1400: 7rem; /* 112px */
  --space-1000: 5rem; /* 80px */
  --space-900: 4.5rem; /* 72px */
  --space-800: 4rem; /* 64px */
  --space-700: 3.5rem; /* 56px */
  --space-600: 3rem; /* 48px */
  --space-500: 2.5rem; /* 40px */
  --space-400: 2rem; /* 32px */
  --space-300: 1.5rem; /* 24px */
  --space-200: 1rem; /* 16px */
  --space-100: 0.5rem; /* 8px */
}
